<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/landingStyle.css"> 
    <title>2K22 Stat Tracker</title>
</head>
<body>
    <div class="container">
        <div class="split left">
           <!--<h1>Career Averages</h1> --> 
            <a href="/CareerAvg" class="btn">Career Averages</a>
        </div>

        <div class="split leftmid">
            <!--<h1>Matchup Stats</h1>-->
            <a href="/Matchup" class="btn">Matchup Stats</a>
        </div>
        <div class="split rightmid">
            <!--<h1>Teammate Stats</h1> --> 
            <a href="/Teammate" class="btn">Teammate Stats</a>
        </div>
        <div class="split right">
            <!--<h1>Career Highs</h1> --> 
            <a href="/CareerHigh" class="btn">Career Highs</a>
        </div>




    </div>




    <script src ="../static/script.js"></script>
</body>
</html>